<!doctype html>

<html>
<head>
    <title>GoTeamGo Log a Workout</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">

  <!-- These are for the template -->
  <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css">



</head>
<body>
  <!-- This is where the navbar was -->
 
  <!-- This is where the get_flashed_messages loop was -->

<!-- {% block content %} -->

<div class="container">
  <div class="top">
   
    <h1 id="title" ><span id="logo">GoTeamGo</span></h1>
  </div>
  
  <div class="login-box" id="new-workout-box">

      <div class="box-header">
        <h2>Log a workout</h2>
      </div>

    <!-- for javascript driven flash messages -->
    <div id="js-flash" class="alert alert-danger" style="width:90%; margin:0 auto; display: none"></div>
      
      <form action="/register" method="POST" id="new-workout-form">

        <div class="form-group">
          <label>Exercise Type:
            <input type="text" name="exercise-type" required class="form-control" list="exercise-types" placeholder="Tell me what you did!">
            <datalist id="exercise-types">

              {% for exercise_type, units in types_units %}
              <option value="{{ exercise_type }}"></option>
              {% endfor %}
          </label>
        </div>

        <div class="form-group">
          <label>Workout Time:<br>
            (leaving this blank will default to current date and time)
            <input type="datetime-local" name="workout-time" class="form-control" >
          </label>
        </div>

        <div class="form-group">
          <label>Performance Rating:
            <div class="radio">
              <label><input type="radio" required="required" value="1" name="performance-rating">Showed up: ☆</label>
            </div>
            <div class="radio">
              <label><input type="radio" required="required" value="2" name="performance-rating">Good effort: ☆☆</label>
            </div>
            <div class="radio">
              <label><input type="radio" required="required" value="3" name="performance-rating">Stuck it out: ☆☆☆</label>
            </div>
            <div class="radio">
              <label><input type="radio" required="required" value="4" name="performance-rating">Hit my goal: ☆☆☆☆</label>
            </div>
            <div class="radio">
              <label><input type="radio" required="required" value="5" name="performance-rating">Crushed it: &nbsp; ☆☆☆☆☆</label>
            </div>
          </label>
        </div>

        <div class="form-group">
          <label>Distance:
            <input type="number" name="distance" class="form-control" min="0" placeholder="How far did you go?">
          </label>
        </div>

        <div class="form-group">
          <label>Distance Unit:
            <input type="text" name="distance-unit" class="form-control" list="distance-units" placeholder="unit of measurement">
            <datalist id="distance-units">

              {% for exercise_type, units in types_units %}
              <option value="{{ units }}"></option>
              {% endfor %}
          </label>
        </div>

        <div class="form-group">
          <label>Description:
            <input type="text" name="description" class="form-control" placeholder="(Limit 150 chars)">
          </label>
        </div>

        <div class="form-group">
            <button type="submit" id="form-submit">Sign In</button>
        </div>

    </form>

  </div>  <!-- .login-box -->
</div>

<script src="https://code.jquery.com/jquery.js"></script>

<script type="text/javascript">


   var password = $("#password"),
       confirmation = $("#confirm-password");

   function validatePassword(){

      if(password.val() != confirmation.val()) {
         $("#password-msg").html("Passwords Don't Match");
         $("#form-submit").prop('disabled', true);
      } else {
         $("#password-msg").html("");
         $("#form-submit").prop('disabled', false);
      };
   }

   password.on("change", validatePassword);
   confirmation.on("keyup", validatePassword);

   function showValidationResults (result) {
      // result: object with existence boolean, message string

      if (result.existence) {
         $("#js-flash").html(result.msg)
         $("#js-flash").show()
      } else if (password.val().length < 6){
         $("#js-flash").html("Password is too short. Please make sure password is at least 6 characters.")
         $("#js-flash").show()
      } else {
         $("#new-workout-form").submit()
      }
   }

   function verifyEmailExistence (evt) {
      evt.preventDefault();

      var formInputs = {
         "email": $("#email").val(),
      }

      $.post('/verify_email_existence.json',
             formInputs,
             showValidationResults
             );
   }

   $("#new-workout-form").on("submit", verifyEmailExistence)


</script>

<!-- {% endblock %} -->

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


</body>
</html>