{% extends 'base-workout-log.html' %}
{% block content %}

<div class="container-fluid">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 >Remove people from your group(s)</h1>
      </div>
      <div class="panel-body">

        <form action="/remove_from_group" method="POST" id="removal-form" name="checks">

          {% for group in admin_groups %}
            <h3>{{ group }}</h3>
              {% if admin_groups[group] %}
                <div class="input-group">
                  
                  {% for member_user_id, user_name, group_user_id in admin_groups[group] %}
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="check" value="{{ group_user_id }}">{{ user_name }}
                      </label>
                    </div>
                  {% endfor %}

                </div><!-- /input-group -->
              
              {% else %}
                <h5>This group has no other users.</h5>
              {% endif %}
          {% endfor %}
        
          <div class="form-group">
              <input type="submit" value="Submit" id="form-submit" class="btn btn-danger">
              <a href="/users/{{ user_id }}" value="Nevermind" class="btn btn-danger">Never mind</a>
          </div>
        </form>

      </div> <!-- panel-body -->
    </div> <!-- panel -->
  </div><!-- col-xs-6 -->
</div>

{% endblock %}