{% extends 'base-workout-log.html' %}
{% block content %}

<div class="container-fluid">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 >Approve people to your group(s)</h1>
      </div>
      <div class="panel-body">

        {% if admin_groups %}
          <form action="/approve_to_group" method="POST" id="approval-form" name="checks">

            {% for group in admin_groups %}
              <h3>{{ group }}</h3>
                  <div class="input-group">
                    
                    {% for user_id, user_name, pending_id in admin_groups[group] %}
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="check" value="{{ pending_id }}">{{ user_name }}
                        </label>
                      </div>
                    {% endfor %}

                  </div><!-- /input-group -->
                
            {% endfor %}
          
            <div class="form-group">
                <input type="submit" value="Submit" id="form-submit" class="btn btn-danger">
                <a href="/users/{{ user_id }}" value="Nevermind" class="btn btn-danger">Never mind</a>
            </div>
          </form>
        {% else %}
          <h5>No users to approve at the current time.</h5>
        {% endif %}

      </div> <!-- panel-body -->
    </div> <!-- panel -->
  </div><!-- col-xs-6 -->
</div>


{% endblock %}