{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
<div>
  <h1>Remove people from your group(s)</h1>
  <br>
  <form action="/remove_from_group" method="POST" id="removal-form" name="checks">
    {% if admin_groups %}
      {% for group in admin_groups %}
      <div class="form row">

        <div class="col-lg-6">
          <h3>{{ group }}</h3>
          <div class="input-group">
            
            {% for member_user_id, user_name, group_user_id in admin_groups[group] %}
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="check" value="{{ group_user_id }}">{{ user_name }}
                </label>
              </div>
            {% endfor %}

          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->

      </div> <!-- /form row -->
      {% endfor %}  
    {% else %}
    <h3>Your groups have no users.</h3>
    {% endif %}

    <div class="form-group">
        <input type="submit" value="Submit" id="form-submit" class="btn btn-danger">
        <a href="/my_profile" value="Nevermind" class="btn btn-danger">Never mind</a>
    </div>


  </form>

</div>
</div>


{% endblock %}