<!doctype html>

<html>
<head>
    <title>GoTeamGo</title>
    <link rel="icon" type="image/png" href="../static/favicon.ico">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
  
    <!-- Google Fonts -->
      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

      <!-- Custom Stylesheet -->
      <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" disabled >GoTeamGo</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {% if "user_id" in session %}
          <li class=""><a href="/users/{{ session['user_id'] }}">{{ session["user_name"] }}<span class="sr-only">(current)</span></a></li>
           <li class=""><a href="/">Log a Workout<span class="sr-only">(current)</span></a></li>
          <li><a href="/friends">Friends</a></li>
          {% else %}
          <li class="active"><a href="/login">Login<span class="sr-only">(current)</span></a></li>
          {% endif %}
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Groups<span class="caret"></span></a>
            <ul class="dropdown-menu">
              {% for group_name, group_id in navbar_groups %}
              <li><a href="/groups/{{ group_id }}">{{ group_name }}</a></li>
              {% endfor %}
              <li role="separator" class="divider"></li>
              <li><a href="/join_group">Request to join a new group</a></li>
              <li><a href="/new_group">Start a new group</a></li>
              <li><a href="/leave_group">Leave a group</a></li>
            </ul>
          </li>
        </ul>

        <!-- <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form> -->


        <ul class="nav navbar-nav navbar-right">
          
          {% if "user_id" in session %}
            <li><a href="/logout">Logout</a></li>
          
            {% if session['is_admin'] %}

              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="badge">{{ navbar_pending_approval }}</span><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/approve_to_group">Approve Pending Users <span class="badge">{{ navbar_pending_approval }}</span></a></li>
                    <li><a href="/remove_from_group">Remove Users</a></li>
                    {% for group_name, group_id in navbar_groups %}
                      <li><a href="/update_group_goal/{{ group_id }}">Update {{ group_name }} Goals</a></li>
                    {% endfor %}
                  </ul>
                </li>
            {% endif %}

          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div id="js-flash" class="alert alert-danger" style="width:90%; margin:0 auto; display: none"></div>
  <div id="js-flash-happy" class="alert alert" style="width:90%; margin:0 auto; display: none"></div>

  <div id="extending">
      {% for flash in get_flashed_messages() %}
        <div class="alert alert-danger" style="width:90%; margin:0 auto;">{{ flash }}</div>
      {% endfor %}
  {% block content %}
  {% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <script>
       $(document).ready(function(){
          $('.dropdown-toggle').dropdown()
      });
  </script>


</body>
</html>