{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
<div>
  <h1>Register a new group!</h1>
  <h3>(You will be the admin of the group)</h3>
  <br>
  <form action="/new_group" method="POST" id="registration-form">
    <!-- <div class="form-inline row"> -->
      <div class="form-group">
        <label>Desired Group Name:
          <input type="name" name="group-name" id="group-name" required class="form-control">
        </label>
      </div>
    <!-- </div> -->
    <!-- <div class="form-inline row"> -->
      <div class="form-group">
        <label>Set Group Goal:
          <input type="number" name="group-goal" id="group-goal" required class="form-control">
        </label>
      </div>
    <!-- </div> -->
    <br>
    <div class="form-group">
        <input type="submit" value="Submit" id="form-submit" class="btn btn-danger">
         <a href="/users/{{ user_id }}" value="Nevermind" class="btn btn-danger">Never mind</a>
    </div>


  </form>

</div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>

<script type="text/javascript">

   function showValidationResults (result) {
      // result: object with success boolean, message string

         if (result.success) {

            $("#registration-form").submit()

         } else {
            $("#js-flash").html(result.msg)
            $("#js-flash").show()
         }



   }

   function validateGroupNameIsUnique (evt) {
      evt.preventDefault();

      var formInputs = {
         "group_name": $("#group-name").val(),
      }

      $.post('/verify_group_name_is_unique.json',
             formInputs,
             showValidationResults
             );
   }

   $("#registration-form").on("submit", validateGroupNameIsUnique)


</script>

{% endblock %}