{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
<div>
  <h1>{{ group_name }} rocks!</h1>
  <h3><label>Goal:</label>
  {{ group_goal }}</h3>
  <br>
  {% if is_group_admin %}
    <a href="/update_group_goal/{{ group_id }}" class="btn btn-danger" id="update-btn">Update group goal</a>
  {% endif %}
</div>

</div> <!-- heading and user_photo -->
<br>
<br>

<div class="container" >
  <div class="col-xs-6" >
    {% for user_id, name, photo_url, workout_count, progress, formatted_progress in users_full_info %}
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-4"> 
              <h4><a href="/users/{{ user_id }}">{{ name }}</a>:</h4>
              <img src="{{ photo_url }}" width="100" hiegth="100">
          </div> <!-- heading and user_photo -->

          <div class="col-xs-8">
            <h5>Workout Count:</h5>
            {{ workout_count }}
            <br>
            <h5>Progess toward goal:</h5>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ progress }}%">
                {{ formatted_progress }}
              </div>
            </div> <!-- progress --> 
          </div> <!-- col-xs-8 -->
        </div> <!-- col-xs-12 --> 
      </div> <!-- row -->
    {% endfor %}
  </div> <!-- col-xs-6 --> 
  <div class="col-xs-6">
      <!-- <div class="row"> -->
        <h2>This week's standout workouts:</h2>
        {% for exercise_type, workout_time, performance_rating, distance, distance_unit, description, name in workouts_for_board %}
          <div class="media">
            <div class="media-left media-top">
              <!-- <a href="#"> -->
              <!-- {{"☆" * performance_rating }} -->
              {% for i in range(performance_rating) %}
                ☆
              {% endfor %}
                <!-- <img class="media-object" src="..." alt="..."> -->
              <!-- </a> -->
            </div>
            <div class="media-body">
              <h4 class="media-heading"> {{ name }}</h4>
              {{ exercise_type }}<br>
              {{ workout_time }}<br>
              <!-- {{"☆" * performance_rating }} <br> -->
              {% if distance and distance_unit %}
                Distance: {{ distance }} {{ distance_unit }} <br>
              {% endif %}
              {% if description %}
                {{ description }}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      <!-- </div> -->
      <!-- row -->
    </div> <!-- col-xs-6 --> 

</div> <!-- container -->

<script src="https://code.jquery.com/jquery.js"></script>

<script type="text/javascript">

   function showValidationResults (result) {
      // result: object with success boolean, message string

         if (result.success) {

            $("#registration-form").submit()

         } else {
            $("#js-flash").html(result.msg)
            $("#js-flash").show()
         }



   }

   function validateGroupNameExists (evt) {
      evt.preventDefault();

      var formInputs = {
         "group_id": $("#update-btn").val(),
      }

      $.post('/verify_group_name_exists.json',
             formInputs,
             showValidationResults
             );
   }

   // $("#update-btn").on("click", validateGroupNameExists)


</script>


{% endblock %}