{% extends 'base-workout-log.html' %}
{% block content %}

<div class="container-fluid">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Register a new group!</h1>
      </div>
      <div class="panel-body">
        <label>(You will automatically be made the admin of the group)</label>

        <form action="/new_group" method="POST" id="registration-form">

          <div class="form-group">
            <label>Desired Group Name:
              <input type="name" name="group-name" id="group-name" required class="form-control">
            </label>
          </div>

          <div class="form-group">
            <label>Set Group Goal:
              <input type="number" name="group-goal" id="group-goal" required class="form-control">
            </label>
          </div>

          <div class="form-group">
              <button type="submit">Submit</button>
              <a href="/users/{{ user_id }}" value="Nevermind" class="btn btn-danger">Never mind</a>
          </div>

        </form>

      </div> <!-- panel-body -->
    </div> <!-- panel -->
  </div><!-- col-xs-6 -->
</div>

<script src="https://code.jquery.com/jquery.js"></script>

<script type="text/javascript">

   function showValidationResults (result) {
      // result: object with success boolean, message string

         if (result.success) {

            $("#registration-form").submit()

         } else {
            $("#js-flash").html(result.msg)
            $("#js-flash").show()
         }

   }

   function validateGroupNameIsUnique (evt) {
      evt.preventDefault();

      var formInputs = {
         "group_name": $("#group-name").val(),
      }

      $.post('/verify_group_name_is_unique.json',
             formInputs,
             showValidationResults
             );
   }

   $("#registration-form").on("submit", validateGroupNameIsUnique)


</script>

{% endblock %}