{% extends 'base-workout-log.html' %}
{% block content %}

<div class="container-fluid">
  <div class="login-box">

    <div class="box-header">
      <h2>Ask to join a new group!</h2>
    </div>

    <!-- for javascript driven flash messages -->
    <div id="js-flash-in-box" class="alert alert-danger" style="width:90%; margin:0 auto; display: none"></div>
    
    <form action="/join_group" method="POST" id="registration-form">

      <div class="form-group">
        <label>Name of group you'd like to join:
          <input type="text" name="group-name" id="group-name" required class="form-control">
        </label>
      </div>

      <div class="form-group">
          <button type="submit">Submit</button>
          <a href="/users/{{ user_id }}" value="Nevermind" class="btn btn-danger">Never mind</a>
      </div>

    </form>

  </div>  <!-- .login-box -->
</div>

<script src="https://code.jquery.com/jquery.js"></script>

<script type="text/javascript">

   function showValidationResults (result) {
      // result: object with success boolean, message string

         if (result.success) {

            $("#registration-form").submit()

         } else {
            $("#js-flash-in-box").html(result.msg)
            $("#js-flash-in-box").show()
         }



   }

   function validateGroupNameExists (evt) {
      evt.preventDefault();

      var formInputs = {
         "group_name": $("#group-name").val(),
      }

      $.post('/verify_group_name_exists.json',
             formInputs,
             showValidationResults
             );
   }

   $("#registration-form").on("submit", validateGroupNameExists)


</script>

{% endblock %}