{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
<div>
  <h1>Groups you can leave:</h1>
  <br>
  <form action="/leave_group" method="POST" id="removal-form" name="checks">
    {% if leavable_groups %}
      <div class="input-group">
        {% for group in leavable_groups %}
          <div class="form col-xs-6">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="check" value="{{ leavable_groups[group] }}">{{ group }}
              </label>
            </div>
          </div> <!-- /form col-xs-6 -->
        {% endfor %}
      </div><!-- /input-group --> 
    {% else %}
    <h3>You don't have any groups that you can leave.</h3>
    {% endif %}

    <div class="form-group">
        <input type="submit" value="Submit" id="form-submit" class="btn btn-danger">
        <a href="/users/{{ user_id }}" value="Nevermind" class="btn btn-danger">Never mind</a>
    </div>


  </form>

</div>
</div>


{% endblock %}