{% extends 'base-workout-log.html' %}
{% block content %}

<div class="container-fluid">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Groups you can leave</h1>
      </div>
      <div class="panel-body">

        <form action="/leave_group" method="POST" id="removal-form" name="checks">

          {% if leavable_groups %}
            <div class="form-group">
              <label>
                {% for group in leavable_groups %}
                  <div class="checkbox">
                    <label><input type="checkbox" name="check" value="{{ leavable_groups[group] }}">{{ group }}</label>
                  </div>
                {% endfor %}

              </label>
            </div>

          {% else %}
            <label>You don't have any groups that you can leave.</label>
          {% endif %}

          <div class="form-group">
              <button type="submit" id="form-submit">Submit</button>
              <a href="/users/{{ user_id }}" value="Nevermind" class="btn btn-danger">Never mind</a>
          </div>

        </form>

      </div> <!-- panel-body -->
    </div> <!-- panel -->
  </div><!-- col-xs-6 -->
</div>


{% endblock %}