{% extends 'base.html' %}
{% block content %}

<div class="" style="width:40%;">
<div>
  <h1>Friends</h1>
</div>
</div> <!-- heading -->
<br>

<!-- Lots of work to do here. currently just coppied from user-profile. I want to make it so that all the people with a common group show up here grouped by group. reapeats are ok -->

<div class="container">

  {% for group_name, group_members in groups %}
  <label>{{group_name}}:</label>
    <ul>
      {% for name, user_id in group_members %}
        <li>
          <a href="/users/{{ user_id }}">{{ name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>


{% endblock %}