{% extends 'base-workout-log.html' %}
{% block content %}
  
<div class="container-fluid">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Log a workout</h1>
      </div>
      <div class="panel-body">

        <form action="/" method="POST" id="new-workout-form">

          <div class="form-group">
        <label>Exercise Type:
          <input type="text" name="exercise-type" required class="form-control" list="exercise-types" placeholder="Tell me what you did!">
          <datalist id="exercise-types">

            {% for exercise_type, units in types_units %}
            <option value="{{ exercise_type }}"></option>
            {% endfor %}
        </label>
      </div>

      <div class="form-group">
        <label>Workout Time:<br>
          (leaving this blank will default to current date and time)
          <input type="datetime-local" name="workout-time" >
        </label>
      </div>

        <div class="form-group">
          <label>Performance Rating:
            <div class="radio">
              <label><input type="radio" required="required" value="1" name="performance-rating">Showed up: ☆</label>
            </div>
            <div class="radio">
              <label><input type="radio" required="required" value="2" name="performance-rating">Good effort: ☆☆</label>
            </div>
            <div class="radio">
              <label><input type="radio" required="required" value="3" name="performance-rating">Stuck it out: ☆☆☆</label>
            </div>
            <div class="radio">
              <label><input type="radio" required="required" value="4" name="performance-rating">Hit my goal: ☆☆☆☆</label>
            </div>
            <div class="radio">
              <label><input type="radio" required="required" value="5" name="performance-rating">Crushed it: &nbsp; ☆☆☆☆☆</label>
            </div>
          </label>
        </div>

        <div class="form-group">
          <label>Distance:
            <input  type="number" step="0.1" name="distance" class="form-control" min="0" placeholder="How far did you go?">
          </label>
        </div>

        <div class="form-group">
          <label>Distance Unit:
            <input type="text" name="distance-unit" class="form-control" list="distance-units" placeholder="unit of measurement">
            <datalist id="distance-units">

              {% for exercise_type, units in types_units %}
              <option value="{{ units }}"></option>
              {% endfor %}
          </label>
        </div>

        <div class="form-group">
          <label>Description:
            <input type="text" name="description" class="form-control" placeholder="(Limit 150 chars)">
          </label>
        </div>

        <div class="form-group">
            <button type="submit" id="form-submit">Submit</button>
        </div>

        </form>

      </div> <!-- panel-body -->
    </div> <!-- panel -->
  </div><!-- col-xs-6 -->
</div>

{% endblock %}