{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
<div>
  <h1>Update your personal goal!</h1>
  <br>
  <form action="/update_personal_goal" method="POST" id="update-form">
    <div class="form-inline row">
      <div class="form-group col-sm-6">
        <h4>Current Personal Goal: {{ personal_goal }}</h4>
        <label>New Personal Goal:
          <input type="number" name="personal-goal" min="0" required class="form-control">
        </label>
      </div>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Submit" id="form-submit" class="btn btn-danger">
         <a href="/users/{{ user_id }}" value="Nevermind" class="btn btn-danger">Never mind</a>
    </div>


  </form>

</div>
</div>

{% endblock %}