{% extends 'base-workout-log.html' %}
{% block content %}

<div class="container-fluid">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 >Update your personal goal!</h1>
      </div>
      <div class="panel-body">

        <form action="/update_personal_goal" method="POST" id="update-form">
          <h3>Current Personal Goal: {{ personal_goal }}</h3>

          <div class="form-group">
            <label>New Personal Goal
              <br>
              <input type="number" name="personal-goal" min="0" required class="form-control">
            </label>
          </div>

          <div class="form-group">
              <button type="submit">Submit</button>
              <a href="/users/{{ user_id }}" value="Nevermind" class="btn btn-danger">Never mind</a>
          </div>

        </form>

      </div> <!-- panel-body -->
    </div> <!-- panel -->
  </div><!-- col-xs-6 -->
</div>

{% endblock %}