{% extends 'base.html' %}
{% block content %}


<!-- style="width:40%;" -->
<div class="container" >
  <div class="row">
    <div class="col-xs-4"> 
      <!-- <div> -->
        <h1>{{ first_name }}'s World</h1>
      <!-- </div> -->
      <!-- <div> -->
        <img src="{{ user_photo }}" width="300" height="300">
        <br>
        <br>
        <div class="list-group">
          {% if active_user_profile_page %}
            <label>Options:</label>
            <a href="/update_photo" class="list-group-item">Update Photo</a>
            <a href="/update_personal_goal" class="list-group-item">Update personal goal</a>
            <a href="/join_group" class="list-group-item">Request to join a new group</a>
            <a href="/new_group" class="list-group-item">Start a new group</a>
            {% if session['is_admin'] %}
              <a href="/approve_to_group" class="list-group-item">Approve Pending Users</a>
              <a href="/remove_from_group" class="list-group-item">Remove Users</a>
            {% endif %}
          {% endif %}

        </div>
      <!-- </div> -->
    </div> <!-- heading and user_photo -->

    <div class="col-xs-8">
      <h2>This Week's Progress</h2>
      <h3>Workout Count:</h3>
      {{ workout_count }}
      <br>
      <h3>Progess toward goals:</h3>
      <h4>Personal</h4>
      {% if personal_goal == 0 %}
        {% if active_user_profile_page %}
          <h5><a href="/update_personal_goal">Set a personal goal here!</a></h5>
        {% else %}  
          <h5>{{ first_name }} hasn't set a personal goal yet!</h5>
        {% endif %}
      {% else %}  
        <label>Goal:</label>
        {{ personal_goal }}
        <br>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ personal_progress }}" aria-valuemin="0" aria-valuemax="{{ personal_valuemax }}" style="min-width: 2em; width: {{ personal_progress }}%">
            {{ personal_progress_formatted }}
          </div>
        </div>
      {% endif %}

      {% for group_id, group_name, group_goal, progress, formatted_progress in full_group_info %}
      <h4><a href="/groups/{{ group_id }}">{{ group_name }}</a></h4>
      <label>Goal:</label>
      {{ group_goal }}
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ progress }}%">
          {{ formatted_progress }}
        </div>
      </div>
      {% endfor %}
    </div>
    <br>
    <br>
    
  </div>
</div>

  <div id="analytics">
    <h3>This is where all my cool analytics will go</h3>
    <div id="best-day-to-workout">
      {{ performance_by_day }}
    </div>
  </div>
{% endblock %}