{% extends 'base.html' %}
{% block content %}

<!-- style="width:40%;" -->
<div class="container-fluid" >
  <div class="row">
    <div class="col-xs-4"> 
        <h1 id="user-heading" value="7">{{ first_name }}'s World</h1>
        <img src="{{ user_photo }}" width="300" height="300">
        <br>
        <br>
        <div class="list-group">
          {% if is_my_profile %}
            <button type="button" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/update_photo">Update Photo</a></li>
                <li><a href="/update_personal_goal">Update personal goal</a></li>
              </ul>
            </button>

          {% endif %}

        </div> <!-- list-group -->

    </div> <!-- heading and user_photo col-xs-4 -->

    <div class="col-xs-8">
      <h2>This Week's Progress</h2>
      <h3>Workout Count:</h3>
      {{ workout_count }}
      <br>
      <h3>Progess toward goals:</h3>
      <h4>Personal</h4>
      {% if personal_goal == 0 %}
        {% if is_my_profile %}
          <h5><a href="/update_personal_goal">Set a personal goal here!</a></h5>
        {% else %}  
          <h5>{{ first_name }} hasn't set a personal goal yet!</h5>
        {% endif %}
      {% else %}  
        <label>Goal:</label>
        {{ personal_goal }}
        <br>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ personal_progress }}" aria-valuemin="0" aria-valuemax="{{ personal_valuemax }}" style="min-width: 2em; width: {{ personal_progress }}%" id="personalpb">
            {{ personal_progress_formatted }}
          </div><!-- progress-bar -->
        </div><!-- progress -->
      {% endif %}

      {% for group_id, group_name, group_goal, progress, formatted_progress in full_group_info %}
      <h4><a href="/groups/{{ group_id }}">{{ group_name }}</a></h4>
      <label>Goal:</label>
      {{ group_goal }}
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ progress }}%" id="group{{ group_id }}">
          {{ formatted_progress }}
        </div><!-- progress-bar -->
      </div><!-- progress -->
      {% endfor %}

      <div class="row">
        <h2>This week's workouts:</h2>
        {% for exercise_type, workout_time, performance_rating, distance, distance_unit, description in workouts_for_board %}
          <div class="media">
            <div class="media-left media-top">
              <!-- <a href="#"> -->
              <!-- {{"☆" * performance_rating }} -->
              {% for i in range(performance_rating) %}
                ☆
              {% endfor %}
                <!-- <img class="media-object" src="..." alt="..."> -->
              <!-- </a> -->
            </div>
            <div class="media-body">
              <h4 class="media-heading"> {{ exercise_type }}</h4>
              {{ workout_time }}<br>
              <!-- {{"☆" * performance_rating }} <br> -->
              {% if distance and distance_unit %}
                Distance: {{ distance }} {{ distance_unit }} <br>
              {% endif %}
              {% if description %}
                {{ description }}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div><!-- row -->

    </div><!-- col-xs-8 -->
    
  </div><!-- row -->

  <button type="button" class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Graph Options<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#" id="by-day-eight">Workouts By Day - Eight Weeks</a></li>
      <li><a href="#" id="by-day-four">Workouts By Day - Four Weeks</a></li>
      <li><a href="#" id="by-hour-eight">Workouts By Hour - Eight Weeks</a></li>
      <li><a href="#" id="by-hour-four">Workouts By Hour - Four Weeks</a></li>
    </ul>
  </button>

  <div class="row">
     <div class="col" id="eight-week-performance-by-day"></div>

     <div class="col" id="four-week-performance-by-day"></div>
     
     <div class="col" id="eight-week-performance-by-hour"></div>
     
     <div class="col" id="four-week-performance-by-hour"></div>
   </div>

</div><!-- container-fluid -->

<script src="https://code.jquery.com/jquery.js"></script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script type=text/javascript>

    var eightWeekByDay = {{ eight_week_by_day_fig|tojson|safe }};
    var fourWeekByDay = {{ four_week_by_day_fig|tojson|safe }};


    var eightWeekByHour = {{ eight_week_by_hour_fig|tojson|safe }};
    var fourWeekByHour = {{ four_week_by_hour_fig|tojson|safe }};

    var groupPbIds = {{ group_ids }};


</script>

<script type="text/javascript">
   $("#eight-week-performance-by-day").show();
   
   $("#four-week-performance-by-day").hide();
   
   $("#eight-week-performance-by-hour").hide();
   
   $("#four-week-performance-by-hour").hide();


   EIGHT_WEEK_BY_DAY = document.getElementById('eight-week-performance-by-day');
   Plotly.plot( EIGHT_WEEK_BY_DAY, 
               eightWeekByDay);

   FOUR_WEEK_BY_DAY = document.getElementById('four-week-performance-by-day');
   Plotly.plot( FOUR_WEEK_BY_DAY, 
               fourWeekByDay);

   EIGHT_WEEK_BY_HOUR = document.getElementById('eight-week-performance-by-hour');
   Plotly.plot( EIGHT_WEEK_BY_HOUR, 
               eightWeekByHour);

   FOUR_WEEK_BY_HOUR = document.getElementById('four-week-performance-by-hour');
   Plotly.plot( FOUR_WEEK_BY_HOUR, 
               fourWeekByHour);



   function selectByDayEightGraph (evt) {
      evt.preventDefault();
      
      $("#eight-week-performance-by-day").show();
      $("#four-week-performance-by-day").hide();
      $("#eight-week-performance-by-hour").hide();
      $("#four-week-performance-by-hour").hide();
   }

   $("#by-day-eight").on('click', selectByDayEightGraph)


   function selectByDayFourGraph (evt) {
      evt.preventDefault();
      
      $("#eight-week-performance-by-day").hide();
      $("#four-week-performance-by-day").show();
      $("#eight-week-performance-by-hour").hide();
      $("#four-week-performance-by-hour").hide();

   }

   $("#by-day-four").on('click', selectByDayFourGraph)


   function selectByHourEightGraph (evt) {
      evt.preventDefault();
      
      console.log("in selectByHourEightGraph")

      $("#eight-week-performance-by-day").hide();
      $("#four-week-performance-by-day").hide();
      $("#eight-week-performance-by-hour").show();
      $("#four-week-performance-by-hour").hide();

   }

   $("#by-hour-eight").on('click', selectByHourEightGraph)


   function selectByHourFourGraph (evt) {
      evt.preventDefault();
      
      $("#eight-week-performance-by-day").hide();
      $("#four-week-performance-by-day").hide();
      $("#eight-week-performance-by-hour").hide();
      $("#four-week-performance-by-hour").show();

   }

   $("#by-hour-four").on('click', selectByDayFourGraph)


</script>

{% endblock %}

