<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>GoTeamGo Login</title>

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

  <!-- Custom Stylesheet -->
  <link rel="stylesheet" href="../static/css/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="top">
            <h1 id="title" class="hidden"><span id="logo">GoTeamGo</span></h1>
        </div>
        <div class="login-box animated fadeInUp">
            <div class="box-header">
                <h2>Log In</h2>
            </div>
              <form action="/login" method="POST" id="login-form">

                <label for="email">Email</label>
                <br/>
                <input type="email" name="email" required class="form-control" id="email">
                <br/>
                <label for="password">Password</label>
                <br/>
                <input type="password" name="password" required class="form-control">
                <br/>
                <button type="submit">Sign In</button>
                <br/>
                <a href="/register"><p class="small">New user?</p></a>
        
            </form>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>


<script type="text/javascript">

   function showValidationResults (result) {
      // result: object with existence boolean, message string. 
      // True 

      console.log("in showValidationResults")
      console.log("result")
      console.log(result)

      // return 

      if (result.existence) {
         $("#login-form").submit()
      } else {
         $("#js-flash").html(result.msg)
         $("#js-flash").show()
      }
   }

   function verifyEmailExistence (evt) {
      evt.preventDefault();

      var formInputs = {
         "email": $("#email").val(),
      }

      $.post('/verify_email_existence.json',
             formInputs,
             showValidationResults
             );
   }

   $("#login-form").on("submit", verifyEmailExistence)


</script>
</html>