{% extends 'base.html' %}
{% block content %}


<!-- style="width:40%;" -->
<div class="container" >
  <div class="row">
    <div class="col-xs-4"> 
      <!-- <div> -->
        <h1>{{ first_name }}'s World</h1>
      <!-- </div> -->
      <!-- <div> -->
        <img src="{{ user_photo }}">
      <!-- </div> -->
    </div> <!-- heading and user_photo -->

    <div class="col-xs-8">
      <h2>This Week's Progress</h2>
      <h3>Workout Count:</h3>
      {{ workout_count }}
      <br>
      <h3>Progess toward goals:</h3>
      <h4>Personal</h4>
      {% if personal_goal == 0 %}
        <h5><a href="/update_personal_goal">Set a personal goal here!</a></h5>
      {% else %}  
        <label>Goal:</label>
        {{ personal_goal }}
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ personal_progress }}" aria-valuemin="0" aria-valuemax="{{ personal_valuemax }}" style="min-width: 2em; width: {{ personal_progress }}%">
            {{ personal_progress_formatted }}
          </div>
        </div>
      {% endif %}

      {% for group_id, group_name, group_goal, progress, formatted_progress in full_group_info %}
      <h4><a href="/groups/{{ group_id }}">{{ group_name }}</a></h4>
      <label>Goal:</label>
      {{ group_goal }}
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ progress }}%">
          {{ formatted_progress }}
        </div>
      </div>
      {% endfor %}
    </div>
    <br>
    <br>
    
  </div>
</div>

  <div id="analytics">
    <h3>This is where all my cool analytics will go</h3>
    <div id="best-day-to-workout">
      {{ performance_by_day }}
    </div>
  </div>
{% endblock %}